.botao-acessibilidade {
    position: fixed;
    width: 48px;
    height: 48px;
    top: 190px;
    right: 15px;
    z-index: 99999;
    border-radius: 50%;
    box-shadow: 0px 3px 6px #000029;
    cursor: pointer;
    background: #000029 url("/Style%20Library/images/ic-libras-azul-v1.png");
    background-size: 100% !important;
    border: none;
    min-width: 48px;
}

    .botao-acessibilidade:hover {
        background: #000029 url("/Style%20Library/images/ic-libras-cinza-v1.png");
    }