.destaques-home {
    background: #F9FBFB 0% 0% no-repeat padding-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 2.5vw;
}

.card-destaque {
    position: relative;
    margin-top: 1vw;
}

.destaques-uma-coluna {
    width: 100%;
}

.destaques-duas-colunas {
    width: 49.311%;
    height: 24.306vw;
}

.imagem-destaque {
    overflow: hidden;
    width: 100%;
    height: 23.306vw;
}

    .imagem-destaque img {
        width: 100%;
        object-fill: fill;
        -moz-transition: all 0.3s;
        -webkit-transition: all 0.3s;
        transform: all 0.3s;
    }

.card-destaque:hover img {
    -moz-transition: scale(1.1);
    -webkit-transition: scale(1.1);
    transform: scale(1.1);
}

.card-destaque .informacao-destaque {
    position: absolute;
    left: 42px;
    bottom: 50px;
}

.card-destaque .balao-destaque {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    bottom: 50px;
    background: rgba(0, 92, 169, 0.70);
    border-radius: 10px;
    opacity: 1;
    width: 24.30vw;
    padding: 0 8px 24px 13px;
    min-height: 81px;
}

.card-destaque .titulo span {
    text-align: left;
    font-family: 'CAIXA Std Bold';
    font-size: 3.5vw;
    font-weight: bold;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    margin-bottom: 5px;
}

.saiba-mais-destaque {
    margin-top: 10px;
}

    .saiba-mais-destaque a {
        font-family: 'CAIXA Std Bold';
        font-size: 1.3vw;
        font-weight: bold;
        letter-spacing: 0px;
        color: #FFFFFF;
        opacity: 1;
        text-decoration: none !important;
    }

.balao-destaque .texto-destaque p {
    text-align: left;
    font-family: 'CAIXA Std Book';
    font-weight: 500;
    font-size: 1.3vw;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    max-width: 24.22vw;
}

.balao-destaque .fa {
    font-size: 1.04vw;
    color: #FFFFFF;
    margin-right: 10px;
}

.card-destaque {
    cursor: pointer;
}

@media(max-width: 1159px) {
    .balao-destaque {
        display: none !important;
    }

    .card-destaque .informacao-destaque {
        bottom: 12% !important;
        left: 12px;
    }

    .informacao-destaque .titulo span {
        font-size: 4vw !important;
    }
}

.imagem-destaque {
    border-radius: 10px;
}
